apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{IMAGE_NAME}}-drivers-pvc
  namespace: {{OC_NAMESPACE}}
  labels:
    app: {{IMAGE_NAME}}
    component: drivers
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: managed-nfs-storage
  volumeMode: Filesystem