apiVersion: v1
kind: Service

metadata:
  name: {{IMAGE_NAME}}
  namespace: {{OC_NAMESPACE}}
  labels:
    app: {{IMAGE_NAME}}

spec:
  type: ClusterIP

  selector:
    app: {{IMAGE_NAME}}

  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: grpcs
    port: 443
    targetPort: 9443
    protocol: TCP