<?xml version="1.0" encoding="UTF-8"?>
<server description="@NAME@-server">
    <!-- Enable features (monitor-1.0 is required for Instana Monitoring) -->
    <featureManager>
        <feature>grpc-1.0</feature>
        <feature>appsecurity-3.0</feature>
        <feature>monitor-1.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>
    <variable name="flight_grpc_maxInboundMessageSize" defaultValue="16777216" />

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="-1"
                  httpsPort="9443">
        <httpOptions persistTimeout="2m" readTimeout="8h" writeTimeout="8h"/>
    </httpEndpoint>
    <httpSession cookieSecure="true" cookieHttpOnly="true" cookieSameSite="Strict"/>
    <httpDispatcher enableWelcomePage="false" />

    <application name="@NAME@" context-root="/" location="@NAME@.war" type="war"/>
    <applicationManager autoExpand="true" />

    <webContainer com.ibm.ws.webcontainer.suppresserrorpageodrheader="true"/>
    <webAppSecurity ssoRequiresSSL="true" httpOnlyCookies="true"/>
    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         trustStoreRef="defaultTrustStore"
         sslProtocol="TLSv1.2"
         enabledCiphers="TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 TLS_DHE_RSA_WITH_AES_128_GCM_SHA256"/>

    <grpc maxInboundMessageSize="${flight_grpc_maxInboundMessageSize}" target="arrow.flight.protocol.FlightService" />

    <!-- For now, trace everything at finest level -->
    <logging traceSpecification="*=audit:com.ibm.wdp.connect.*=finest:com.ibm.connect.*=finest" maxFiles="10"/>
</server>
